.container {

}

#map {
    height: 400px;
    width: 100%;
    background-color: #eee;
    transition: height .4s ease-out;

    &.is-larger { height: 500px; }
}

.button-row {
    display: flex;
}

input {
    padding: 10px;
    margin: 20px 0;
    width: 100%;
}

.locations li {
    cursor: pointer;
}

.route-meta {
    display: flex;

    span {
        flex: 1;
        text-align: center;
    }
}
